@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

*{
    margin:0;
    padding:0;
}

body{
 background-image: url("background.jpg");
 background-repeat: no-repeat;
 background-size: cover;
 background-attachment: fixed;
}

.heading {
    display: grid;
    margin: 0 auto;
    height: 150px;
    width: 80%;
    
}

h2 {
    display: grid;
    color: red;
    text-align: center;
    padding: 4rem;
    font-family: roboto;
    text-align: center;
    animation: backInDown;
    animation-duration: 1s;

}

h2>span{
    color:white;
}

.container {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    width: 80%;
    text-align: center;
    margin: auto;
    padding: 30px;
  }

  .box {
    display: grid;
    padding: 2.5em;
    background-color: rgb(32, 9, 9);
    color: white;
    border: rgba(39,0,0,0.5) solid 2px;
    border-radius: 5px;
    font-family: roboto arial;
  }

  .box > a{
      text-decoration: none;
      color:white;
  }

  .container > .box:hover {
    opacity: 0.9;
    transform: scale(1.05);
  }